@import "node_modules/foundation-emails/scss/foundation-emails.scss";
.redder {
  color: red;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 26px;
}
